<nav class="navbar navbar-expand-lg {{classList}}">
  <div class="{{container}}">

    <!-- Brand -->
    <a class="navbar-brand" href="{{webRoot}}/index.html">
      <img src="{{webRoot}}/assets/img/brand.svg" class="navbar-brand-img" alt="...">
    </a>


    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Button -->
      <a class="navbar-btn btn btn-sm btn-{{button}} lift ms-auto" href="https://themes.getbootstrap.com/product/landkit/" target="_blank">
        Buy now
      </a>

    </div>

  </div>
</nav>
